<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Location</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
    <style>
        .center-align {
            text-align: center; /* Center text and inline elements */
            margin: 20px 0; /* Add some margin for spacing */
        }
    </style>
</head>
<body>
    <header>
        <h1>Edit Location</h1>
    </header>
